.datos-profesionales {
    background-color: $blanco;
    width: 70%;
    height: 90%;
    padding: 10px;
    .dato {
        margin-top: 20px;
        hr {
            margin-bottom: 10px;
        }
        .timeline {
            margin: 10px 0px;
            padding: 10px;
            .fechas {
                @include flex(row, space-between, center);
                margin-bottom: 10px;
                div:first-child {
                    width: 25%;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        right: 10px;
                        width: 10px;
                        height: 10px;
                        border: 5px $azul solid;
                        border-radius: 100%;
                    }
                }
                &:not(.fechas:last-child) {
                    div:first-child {
                        &::after {
                            content: "";
                            position: absolute;
                            right: 17px;
                            bottom: -30px;
                            background-color: $azul;
                            height: 32px;
                            width: 6px;
                        }
                    }
                }
                div:last-child {
                    width: 75%;
                }
            }
        }
        .conocimientos {
            margin-top: 20px;
            @include flex(row, space-between, flex-start);
            img {
                width: 18%;
            }
        }
    }
}