@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-height: calc(100vh - 60px);
    padding: 30px 50px;
    background: #e9aec6;
    background: linear-gradient(90deg, #e9aec6 0%, #6750a2 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

article {
    width: 300px;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgba(216, 216, 216, 0.6);
}

article time {
    font-size: 0.8em;
    font-style: italic;
}

article h1 {
    font-size: 2em;
    margin: 20px 0px;
}

article img {
    width: 100%;
}